* {
    margin: 0;
}

.container {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}

.container-content {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    gap: 1em;
    flex-wrap: wrap;
    align-items: center;
}

.box {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-style: italic;
    border: 1px solid #7ed592;
    width: 350px;
    padding: 1.5em;
    height: 300px;
    border-radius: 10px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 4em;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
}

.navbar-logo {
    width: 1.5em;
    height: 1.5em;
    /* object-fit: cover; */
}

a {
    text-decoration: none;
    color: black;
    padding: 1em;
}

a:hover{
    text-decoration: underline;
}

a:active {
    color: gray;
}

.img-card {
    object-fit: cover;
    aspect-ratio: 200/200;
    width: 100%;
    height: 60%;
}

@media only screen and (max-width: 400px) {
    .navbar {
        flex-direction: column;
        justify-content: center;
    }
}

.container-form {
    margin-top: 10px;
    margin-bottom: 10px;
}

form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container-form-one {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

.container-form-one input {
    width: 50%;
}

input {
    padding: 1.5em;
    border: 1px solid gray;
    border-radius: 1em;
}

.container-grid {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:300;
    font-style: normal;
    text-transform: capitalize;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
}

.container-grid > div {
    border: 1px solid #7ed592;
    border-radius: 10px;
    padding: 10px;
}

.container-grid > div > p::first-letter {
    font-weight: bold;
}

.container-grid > div > p:hover {
    color: red;
}

.item-grid-one {
    grid-column: 1 / 4;
}

.item-grid-two {
    grid-column: 1;
    grid-row: 2 / 4;
}

.item-grid-three {
    grid-column: 2 / 4;
    grid-row: 2;
}
.item-grid-four {
    grid-column: 2 / 4;
    grid-row: 3;
}
ul {
    list-style: decimal-leading-zero;
}

/* .container-grid > div > p {
    
} */
@media only screen and (max-width: 1020px) {
    .container-content {
        justify-content: center;
    }

    .container-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 10px;
    }

    .item-grid-one {
        grid-column: 1;
        grid-row: 1;
    }
    
    .item-grid-two {
        grid-column: 1;
        grid-row: 2;
    }
    
    .item-grid-three {
        grid-column: 2;
        grid-row: 1;
    }
    .item-grid-four {
        grid-column: 2;
        grid-row: 2;
    }
}